{% extends "layout.html" %}
{% block menu %}
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('pots') }}">Posude</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('plants') }}">Biljke</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('users') }}">Korisnici</a>
        </li>
      </ul>
    </div>
    <div class="navbar-nav ml-auto">
        <form class="form-inline" action="{{ url_for('logout') }}" method="POST">
          <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Odjava</button>
        </form>
      </div>
    </div>
  </nav>
{% endblock %}
{% block content %}
<div class="container my-5">
    <div class="row g-3">
        <div class="col-md-6">
            <img src="{{ plant.image }}" class="img-fluid">
        </div>
        <div class="col-md-6">
            <form method="POST">
                <div class="mb-6">
                    <label for="inputName" class="form-label">Naziv biljke</label>
                    {{ form.name(class_='form-control') }}
                </div>
                <div class="mb-6">
                    <label for="inputType" class="form-label">Tip biljke</label>
                    {{ form.type(class_='form-control') }}
                </div>
                <div class="mb-6">
                    <label for="inputType" class="form-label">Optimalna vlažnost tla</label>
                    <div style="display: flex">
                        <div class="col">
                            {{ form.optimal_soil_humidity_min(class_='form-control') }}
                        </div>
                        <div class="col">
                            {{ form.optimal_soil_humidity_max(class_='form-control') }}
                        </div>
                    </div>
                </div>
                <div class="mb-6">
                    <label for="inputType" class="form-label">Optimalno osvjetljenje</label>
                    <div style="display: flex">
                        <div class="col">
                            {{ form.optimal_light_min(class_='form-control') }}
                        </div>
                        <div class="col">
                            {{ form.optimal_light_max(class_='form-control') }}
                        </div>
                    </div>
                </div>
                <div class="mb-6">
                    <label for="inputType" class="form-label">Optimalan pH tla</label>
                    <div style="display: flex">
                        <div class="col">
                            {{ form.optimal_soil_ph_min(class_='form-control') }}
                        </div>
                        <div class="col">
                            {{ form.optimal_soil_ph_max(class_='form-control') }}
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-end">
                    {{ form.save_changes(class="btn btn-primary me-2", id="saveBtn") }}
                    {{ form.delete(class="btn btn-danger me-2", id="deleteBtn") }}
                    {{ form.return_page(class="btn btn-secondary", id="returnBtn") }}
                  </div>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}